<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crc-calc: Simple Financial (and other) Calculators</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css">

    <style media="screen">
        .router-link-active {
            text-decoration: underline;
            background-color: #202b38;
        }

        nav {
            display: flex;
        }

        nav > a {
            flex: 1;
            /* background-color: #263247; */
            text-align: center;
        }

        input.dib {
            display: inline-block !important;
        }

        button.btn {
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
  </head>
  <body>

<div id="app">

    <nav>
      <router-link to="/loan-payments">Loan Payments</router-link>
      <router-link to="/interest-yield">Interest Yield</router-link>
      <router-link to="/regular-deposits">Regular Deposits</router-link>
      <router-link to="/fertilizer">Fertilizer</router-link>
    </nav>

    <router-view></router-view>

</div>

<script type="x-template" id="loan_payments">
<div>
    Calculate monthly payments for a loan of a certain amount at a fixed rate
    over a set time. <br/>
    Loan Amount <input type="text" v-model="amount">
    APR <input type="text" v-model="rate">
    Years <input type="text" v-model="years">
    <h2>Monthly Payment: {{ monthlyPayment | money }}</h2>
    <h4>Total Interest Paid: {{ totalInterest | money }}</h4>

    <button @click="save">Save to URL</button>

    <br>

    see also:
    <ul>
        <li>
            <a href="https://www.calculatorsoup.com/calculators/financial/loan-calculator.php">calculatorsoup loan-calculator</a>
        </li>
    </ul>

</div>
</script>

<script type="x-template" id="interest_yield">
<div>
    Calculate interest yield on a fixed investment over a given time. <br/>
    Initial Amount <input type="text" v-model="amount">
    APR <input type="text" v-model="rate">
    Years <input type="text" v-model="years">
    <h2>Value after {{ years }} years: {{ futureValue | money }}</h2>

    <button @click="save">Save to URL</button>

    <br>

    see also:
    <ul>
        <li><a href="https://www.calculatorsoup.com/calculators/financial/cd-calculator.php">calculatorsoup cd-calculator</a></li>
    </ul>

</div>
</script>

<script type="x-template" id="regular_deposits">
<div>
    Calculate future value and interest yield based on a regular deposit amount
    at a fixed interest rate. <br/>
    Starting Value <input type="text" v-model="initialAmount">
    Monthly Deposit Amount <input type="text" v-model="amount">
    APR <input type="text" v-model="rate">
    Years <input type="text" v-model="years">
    <h2>Value after {{ years }} years: {{ futureValue | money }}</h2>
    <h4>
        Cost basis: {{ costBasis | money }} <br/>
        Interest earned: {{ interestEarned | money }}
    </h4>

    <button @click="save">Save to URL</button>

    <br>

    see also:
    <ul>
        <li><a href="https://www.calculatorsoup.com/calculators/financial/savings-calculator.php">calculatorsoup savings-calculator</a></li>
    </ul>

</div>
</script>

<script type="x-template" id="fertilizer">
<div>
  Bed size:
  <input type="text" class="dib" :value="field.bedArea" @blur="field.bedArea = parseArea($event.target.value)" size="4">
  ft<sup>2</sup>
  x
  <input type="text" class="dib" v-model="beds" size="4">
  beds

  = {{ acres | roundTwo }} acres
  <br>
    Field/Soil Data: <br/>
    Soil OM (%):
    <input
        type="text"
        class="dib"
        :value="Number(field.som * 100).toFixed(2).replace(/\.?0+$/, '')"
        @input="field.som = Number($event.target.value) / 100"
        size="4">
    N (nitrate ppm): <input type="text" class="dib" v-model="field.nppm" size="4">
    P (lb/a): <input type="text" class="dib" v-model="field.p" size="4">
    K (lb/a): <input type="text" class="dib" v-model="field.k" size="4">
    <br/>

  <button
      type="button"
      class="btn btn-default"
      @click="crop = {}; applying = []">
    Reset
  </button>

  <table class="table">
    <tr v-if="crop.name">
      <th></th>
      <th>#</th>
      <th>N</th>
      <th>P</th>
      <th>K</th>
    </tr>

    <tr v-if="crop.name">
      <td>{{crop.name}}</td>
      <td></td>
      <td><input type="text" size="5" v-model="crop.needs.n"></td>
      <td><input type="text" size="5" v-model="crop.needs.p"></td>
      <td><input type="text" size="5" v-model="crop.needs.k"></td>
      <td></td>
    </tr>

    <tr v-if="crop.name && field.som !== 0">
      <td>Soil OM</td>
      <td></td>
      <td>{{ field.som * 100 * 10 | roundTwoBlank }}</td>
      <td></td>
      <td></td>
    </tr>

    <tr v-if="crop.name && (field.n || field.p || field.k)">
      <td>Soil NPK</td>
      <td></td>
      <td>{{ field.n }}</td>
      <td>{{ field.p }}</td>
      <td>{{ field.k }}</td>
      <td></td>
    </tr>

    <tr v-for="f in needsRemaining">
      <td>{{ f.name }}</td>
      <td>{{ f.amount | roundTwo }}</td>
      <td>{{ resultsIn(f, f.amount, 'n') | roundTwoBlank }}</td>
      <td>{{ resultsIn(f, f.amount, 'p') | roundTwoBlank }}</td>
      <td>{{ resultsIn(f, f.amount, 'k') | roundTwoBlank }}</td>
      <td><button @click="applying.splice(applying.indexOf(f), 1)">Remove</button></td>
    </tr>

    <tr v-if="crop.needs">
      <td>Remaining</td>
      <td></td>
      <td>{{ needsRemaining.reduce((c, f) => c - resultsIn(f, f.amount, 'n'), fertilizerNeeds.n) | roundTwo }}</td>
      <td>{{ needsRemaining.reduce((c, f) => c - resultsIn(f, f.amount, 'p'), fertilizerNeeds.p) | roundTwo }}</td>
      <td>{{ needsRemaining.reduce((c, f) => c - resultsIn(f, f.amount, 'k'), fertilizerNeeds.k) | roundTwo }}</td>
      <td></td>
    </tr>
  </table>

  <table class="table">

    <tr v-if="showCrops || showFields || showFertilziers">
      <th></th>
      <th></th>
      <th>N</th>
      <th>P</th>
      <th>K</th>
      <th></th>
    </tr>

    <tr>
      <td colspan="5"><strong>First, pick a crop...</strong></td>
      <td>
          <button @click="showCrops = !showCrops">
            <template v-if="showCrops">Hide</template>
            <template v-else>Show</template>
          </button>
      </td>
    </tr>

    <tr v-if="showCrops" v-for="c in crops">
      <td colspan="2">{{c.name}}</td>
      <td>{{c.needs.n }}</td>
      <td>{{c.needs.p }}</td>
      <td>{{c.needs.k }}</td>
      <td>
        <button type="button" class="btn btn-success btn-xs"
                @click="crop = JSON.parse(JSON.stringify(c)); showCrops = false">
          Use
        </button>
      </td>
    </tr>

    <tr>
      <td colspan="5"><strong>Optionally, pick a field...</strong></td>
      <td>
          <button @click="showFields = !showFields">
            <template v-if="showFields">Hide</template>
            <template v-else>Show</template>
          </button>
      </td>
    </tr>

    <tr v-if="showFields" v-for="f in fields">
      <td>{{ f.name }}</td>
      <td>{{ f.som | percent }}</td>
      <td>{{ f.n }}</td>
      <td>{{ f.p }}</td>
      <td>{{ f.k }}</td>
      <td>
        <button type="button" class="btn btn-warning btn-xs"
                @click="field = f; showFields = false">
          Use
        </button>
      </td>
    </tr>

    <tr>
      <td colspan="5"><strong>Then, pick your fertilizers...</strong></td>
      <td>
          <button @click="showFertilziers = !showFertilziers">
            <template v-if="showFertilziers">Hide</template>
            <template v-else>Show</template>
          </button>
      </td>
    </tr>

    <tr v-if="showFertilziers" v-for="f in fertilizers">
      <td colspan="2">{{f.name}}</td>
      <td>{{f.formula.n | percent }}</td>
      <td>{{f.formula.p | percent }}</td>
      <td>{{f.formula.k | percent }}</td>
      <td>
        <button type="button" class="btn btn-warning btn-xs"
                @click="applying.push(f)">
          Add
        </button>
      </td>
    </tr>
  </table>
</div>
</script>

<script>
const filters = {
  // given a number or string (like 1.234), return a money string (like '$1.23')
  money(val)
  {
      return `$${Number(val).toFixed(2)}`
  }
}

const LoanPayments = {
    props: ['data-amount', 'data-rate', 'data-years'],
    template: '#loan_payments',
    data() { return {
        amount: this.dataAmount || 10000,
        rate: this.dataRate || 5,
        years: this.dataYears || 5
    }},
    computed: {
        monthlyRate()
        {
            return this.rate / 100 / 12
        },

        // https://www.calculatorsoup.com/calculators/financial/loan-calculator.php
        // https://www.wikihow.com/Calculate-Loan-Payments
        monthlyPayment()
        {
            return this.amount * ( this.monthlyRate / (1 - Math.pow(1 + this.monthlyRate, -1 * this.years * 12)))
        },

        totalInterest()
        {
            return this.monthlyPayment * this.years * 12 - this.amount
        },
    },
    filters,
    methods: {
        save()
        {
            this.updateTitle()
            this.updateQueryString()
        },

        updateTitle()
        {
            var amt = this.amount / 1000
            // if amount did not divide evenly, use 1 decimal; else use it as is
            amt = amt % 1
                ? Number(amt).toFixed(1)
                : amt
            document.title = `crc-calc: Payment for $${amt}k @ ${this.rate}% over ${this.years} years`
        },

        updateQueryString()
        {
            this.$router.replace({ query: {
                amount: this.amount,
                rate: this.rate,
                years: this.years
            } })
        }
    },
    mounted() {
        // console.log('mounted', 'LoanPayments')
        this.updateTitle()
    },
    updated()
    {
        this.updateTitle()
    }
}

const InterestYield = {
    props: ['data-amount', 'data-rate', 'data-years'],
    template: '#interest_yield',
    data() { return {
        amount: this.dataAmount || 2000,
        rate: this.dataRate || 5,
        years: this.dataYears || 5
    }},
    computed: {
        monthlyRate()
        {
            return this.rate / 100 / 12
        },

        // https://www.calculatorsoup.com/calculators/financial/cd-calculator.php
        // https://helloacm.com/common-javascript-functions-for-financial-calculations/
        futureValue()
        {
            return this.amount * Math.pow(1 + this.monthlyRate, this.years * 12);
        },
    },
    filters,
    methods: {
        save()
        {
            this.updateTitle()
            this.updateQueryString()
        },

        updateTitle()
        {
            var amt = this.amount / 1000
            // if amount did not divide evenly, use 1 decimal; else use it as is
            amt = amt % 1
                ? Number(amt).toFixed(1)
                : amt
            document.title = `crc-calc: Yield on $${amt}k @ ${this.rate}% over ${this.years} years`
        },

        updateQueryString()
        {
            this.$router.replace({ query: {
                amount: this.amount,
                rate: this.rate,
                years: this.years
            } })
        }
    },
    mounted() {
        // console.log('mounted', 'InterestYield')
        this.updateTitle()
    },
    updated()
    {
        this.updateTitle()
    }
}

const RegularDeposits = {
    props: ['data-initial-amount', 'data-amount', 'data-rate', 'data-years'],
    template: '#regular_deposits',
    data() { return {
        initialAmount: this.dataInitialAmount || 0,
        amount: this.dataAmount || 500,
        rate: this.dataRate || 5,
        years: this.dataYears || 1
    }},
    computed: {
        monthlyRate()
        {
            return this.rate / 100 / 12
        },

        // https://www.calculatorsoup.com/calculators/financial/savings-calculator.php
        // https://www.thecalculatorsite.com/articles/finance/compound-interest-formula.php
        futureValue()
        {
            let principalValue =
                this.initialAmount *
                Math.pow(1 + this.monthlyRate, 12 * this.years)
            let depositValue =
                this.amount *
                (Math.pow(1 + this.monthlyRate, 12 * this.years) - 1) /
                this.monthlyRate

            return principalValue + depositValue
        },

        costBasis()
        {
            return this.initialAmount * 1 + this.amount * this.years * 12;
        },

        interestEarned()
        {
            return this.futureValue - this.costBasis;
        }
    },
    filters,
    methods: {
        save()
        {
            this.updateTitle()
            this.updateQueryString()
        },

        updateTitle()
        {
            var amt = this.amount / 1000
            // if amount did not divide evenly, use 1 decimal; else use it as is
            amt = amt % 1
                ? Number(amt).toFixed(1)
                : amt
            document.title = `crc-calc: Yield on monthly deposit of $${amt}k @ ${this.rate}% over ${this.years} years`
        },

        updateQueryString()
        {
            this.$router.replace({ query: {
                initialAmount: this.initialAmount,
                amount: this.amount,
                rate: this.rate,
                years: this.years
            } })
        }
    },
    mounted() {
        // console.log('mounted', 'InterestYield')
        this.updateTitle()
    },
    updated()
    {
        this.updateTitle()
    }
}

const Fertilizer = {
    template: '#fertilizer',

    filters: {
      percent: value => value
          ? Number(value * 100).toFixed(2).replace(/\.?0+$/, '') + '%'
          : '',
      roundTwo: value => Number.isNaN(value) ? 0 : Number(value).toFixed(2),
      roundTwoBlank: value => Number.isNaN(value) || value == 0 ? '' : Number(value).toFixed(2)
    },

    data() { return {

        beds: 1,
        crop: {},
        field: { bedArea: 288, som: 0, n: undefined, p: undefined, k: undefined },
        showCrops: false,
        showFields: false,
        showFertilziers: false,
        applying: [],

        fields: [
            // {
            //     name: arbitrary name
            //     bedArea: square footage of a bed
            //     som: soil organic matter, percentage as decimal
            //     nppm: N ppm from soil report
            //     n: N ppm * 2
            //     p: #/A
            //     k: #/A
            // },
            {
                name: 'Hoophouse A',
                bedArea: 288,
                som: .091,
                nppm: 59,
                n: 59 * 2,
                p: 120,
                k: 380
            },
            {
                name: 'Hoophouse B',
                bedArea: 360,
                som: .074,
                nppm: 26,
                n: 26 * 2,
                p: 104,
                k: 150
            },
            {
                name: 'M 2',
                bedArea: 720,
                som: .057,
                nppm: 0,
                n: 0,
                p: 6.4,
                k: 354
            },
            {
                name: 'M 3',
                bedArea: 720,
                som: .054,
                nppm: 0,
                n: 0,
                p: 5.9,
                k: 278
            },
        ],

        fertilizers: [
            {
                name: '2021 Custom',
                applyFor: 'n',
                formula: {
                    n: .06,
                    p: .08,
                    k: .00,
                    s: .00,
                    b: .1
                }
            },
            {
                name: '10-2-8',
                applyFor: 'n',
                formula: {
                    n: .10,
                    p: .02,
                    k: .08,
                    ca: .02,
                    s: .03
                }
            },
            {
                name: '10-2-8+BG',
                applyFor: 'n',
                formula: {
                    n: .08,
                    p: .02,
                    k: .16,
                    ca: .02,
                    s: .03,
                    mg: .004,
                    b: .001,
                    zn: .003
                }
            },
            {
                name: 'Feather Meal',
                applyFor: 'n',
                formula: {
                    n: .13,
                }
            },
            {
                name: 'Bone-char',
                applyFor: 'p',
                formula: {
                    p: .16
                }
            },
            {
                name: 'K-mag',
                applyFor: 'k',
                formula: {
                    k: .22,
                    mg: .108,
                    s: .22
                }
            },
            {
                name: 'K2SO4',
                applyFor: 'k',
                formula: {
                    k: .52,
                    s: .18
                }
            },
        ],
        crops: [
            {
                name: 'Tomato, GH',
                needs: {
                    n:400,
                    p:180,
                    k:600,
                    mg:25,
                    s:10,
                    b:1,
                    z:5
                }
            },
            {
                name:'Cucumber',
                needs: {
                    // from C Goossen email 4/29/19
                    n: 225,
                    p: 150,
                    k: 250,
                    mg: 25,

                    // n:130,
                    // p:150,
                    // k:250,
                }
            },
            // the rest were updated from https://nevegetable.org/crops/
            // on 5/27/20
            {
                name: 'Basil',
                needs: { n:130, p:120, k:100 }
            },
            {
                name: 'Beets',
                needs: { n:130, p:150, k:300 }
            },
            {
                name: 'Brassicas',
                needs: { n:160, p:150, k:175}
            },
            {
                name: 'Cauliflower',
                needs: { n:130, p:150, k:175}
            },
            {
                name: 'Carrots',
                needs: { n:150, p:150, k:300 }
            },
            {
                name:'Corn',
                needs: { n:130, p:140, k:180 }
            },
            {
                name:'Eggplant',
                needs: { n:100, p:150, k:150 }
            },
            {
                name:'Onion and Leek',
                needs: { n:150, p:150, k:175 }
            },
            {
                name:'Pepper',
                needs: { n:140, p:150, k:200 }
            },
            {
                name: 'Potato',
                needs: { n:180, p:200, k:300 }
            },
            {
                name:'Sweet Potato',
                needs: { n:75, p:200, k:300 }
            },
        ]
    }},

  computed: {
    acres() { return this.field.bedArea * this.beds / ( 204*204 ) },

    fertilizerNeeds() {
        if ( ! this.crop.needs )
          return []

        // copy how much we need
        var remaining = JSON.parse(JSON.stringify(this.crop.needs))

        if ( this.field.som !== 0 )
            remaining['n'] -= this.field.som * 100 * 10

        if (this.field.n && this.field.n !== 0) {
            remaining['n'] -= Number(this.field.n)
        }
        if (this.field.p && this.field.p !== 0) {
            remaining['p'] -= Number(this.field.p)
        }
        if (this.field.k && this.field.k !== 0) {
            remaining['k'] -= Number(this.field.k)
        }

        return remaining
    },

    needsRemaining() {

        // copy how much we need
        var remaining = JSON.parse(JSON.stringify(this.fertilizerNeeds))

        return this
            .applying
            .map( f => {

                console.log(remaining)

                var amount = this.amountOf( f, remaining )

                remaining['n'] -= this.resultsIn( f, amount, 'n' )
                remaining['p'] -= this.resultsIn( f, amount, 'p' )
                remaining['k'] -= this.resultsIn( f, amount, 'k' )

                return {
                    name: f.name,
                    applyFor: f.applyFor,
                    amount,
                    formula: f.formula,
                }
            }
        )
    }
  },

  methods: {
    amountOf( fertilizer, needs )
    {
      var nutrient = fertilizer.applyFor;

      if (needs[nutrient] < 0) {
          return 0
      }

      return needs[nutrient] * this.acres / fertilizer.formula[nutrient]
    },

    resultsIn(fertilizer, amount, nutrient)
    {
      if (! fertilizer.formula[nutrient]) {
          return 0
      }

      return amount * fertilizer.formula[nutrient] / this.acres
    },

    log(v) {
        console.log(v)
    },

    parseArea(area) {
      if ( typeof area !== 'string' ) {
          return area
      }

      if ( area.indexOf('x') !== -1 ) {
        var a = area.split('x')
        return a[0] * a[1]
      }

      if ( area.indexOf('*') !== -1 ) {
        var a = area.split('*')
        return a[0] * a[1]
      }

      if ( area.indexOf('/') !== -1 ) {
        var a = area.split('/')
        return a[0] / a[1]
      }

      return area
    },
  },

  watch: {
    'field.nppm'(newVal, oldVal)
    {
        // ppm to #/a conversion from: http://msuextension.org/publications/agandnaturalresources/mt200703AG.pdf
        this.field.n = Number(newVal) * 2
    },
  },

  mounted() {
    console.log('mounted', 'Fertilizer')
    // this.crop = this.crops[1]
    // this.applying.push( this.fertilizers[0] )
    // this.applying.push( this.fertilizers[2] )
  }
}

// get query params from a route and turn them into props passed to a compoonent
const propsFn = (route) => ({
    dataAmount: route.query.amount,
    dataRate: route.query.rate,
    dataYears: route.query.years
})

const router = new VueRouter({
    routes: [
        {
            path: '/loan-payments',
            component: LoanPayments,
            props: propsFn,
        },
        {
            path: '/interest-yield',
            component: InterestYield,
            props: propsFn,
        },
        {
            path: '/regular-deposits',
            component: RegularDeposits,
            props: propsFn,
        },
        {
            path: '/fertilizer',
            component: Fertilizer,
        }
    ]
})

var app = new Vue({
  el: '#app',
  mounted() {
      console.log('mounted', 'app')
  },
  router
})
</script>
    </body>
</html>
